* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #5800ff;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 80vh;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: #0096ff;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  /* flex-grow: 1; */
}
header img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-color: white;
  border-radius: 5px;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-container .input-section button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  margin-top: 10px;
}
button:hover {
  background: #72ffff;
  border: none;
  cursor: pointer;
}

footer {
  height: calc(100vh - 200px);
}
.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.input-section input {
  padding: 3px;
}
.input-section h3 {
  font-style: italic;
}
